
.ResponsiveNavigation {
	display: flex;
	width: 100%;
	background: rgb(12, 11, 11);
	background: radial-gradient(
		circle,
		rgb(19, 18, 18) 77%,
		rgb(39, 136, 10) 100%
	);
}

.ResponsiveNavigationContainer {
	display: flex;
	width: 100%;
	justify-content: space-around;
    
}

.fa-cart-shopping {
	margin-right: 5px;
}
