.CardListContainer{
    display: grid;
    grid-template-columns:  1fr 1fr 1fr 1fr;
    justify-content: center;
    gap : 40px;
    align-items: center;
    margin-left: 180px;
    margin-top: 50px;
    margin-bottom: 70px;
}

.Spinner {
	display: flex;
	justify-content: center;
	margin: 40px;
}
